@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'rubik', sans-serif;
  }

.testimonial {
  background-image: url('./assets/pictures/img-05.jpg');
  background-size: cover;
}