.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    flex-basis: 30%;
    margin-bottom: 20px;
  }
  
  .no-courses {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination button {
    background-color: white;
    border: 1px solid #ddd;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #ddd;
  }
  
  .pagination .active button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid #4CAF50;
  }
  